
fastapi
streamlit
newspaper3k
lxml_html_clean
google-search-results


# For API key management
python-dotenv

# Core LLM and orchestration framework
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters

llama-index
llama-index-llms-openai
llama-index-embeddings-openai

# For creating the vector store
faiss-cpu

# For OpenAI models and embeddings
openai

pypdf2 
pdfplumber